.table-btn {
    color: white;
    padding: 2px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
}

.table-btn:hover {
    color:#404040
}

.table-btn-primary {
    background-color: var(--accent-color);
}

.table-btn-warning {
    background-color: #FFAA33;
}

.table-btn-delete {
    background-color: #ec4363;
}

.page-container {
    display:flex;
}

.page-sidebar {
    background: var(--main-color);
    color: #fff;
}

.page-sidebar {
    width: 10%;
    min-height: 100vh;
    top: 0px;
    float: left;
    position: relative;
    margin-right: 0px;
}

.page-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page-sidebar ul li a {
    background-color: #404040;
    border: none;
    text-shadow: none;
    border-left: 4px solid #404040;
    display: block;
    position: relative;
    margin: 0;
    margin-top: 10px;
    padding: 10px 13px 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.page-sidebar ul li ul.sub-menu li a {
    padding: 10px 13px 10px 30px;
    font-size: 13px;
    margin: 0px;
    font-weight: 300;
    background-color: var(--main-color);
}

.page-sidebar ul li a:hover, .page-sidebar ul li a.active {
    border-left: 4px solid var(--accent-color);
}

.page-sidebar ul li a.active {
    background-color: var(--accent-color);
}

/* CONTENU DE PAGE */

.page-content {
    padding: 20px;
    float: left;
    position: relative;
    margin-left: 0px;
    width: 90%;
    max-width: 90%;
}

.page-content h1 {
    margin-bottom: 0px;
}

.page-content p.breadcrumbs {
    margin-top: 0px;
}

.page-content table {
    width: 100%;
    max-width: 100%;
}

.page-content table thead tr th {
    font-size: 14px;
    font-weight: 600;
    background-color: #ddd;
}

.page-content table th {
    text-align: left;
}

table thead tr th, table tbody tr th, table tfoot tr th, table thead tr td, table tbody tr td, table tfoot tr td {
    padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
}

table tbody tr:nth-child(odd) td, table tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

table tbody tr td img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    vertical-align: center;
}

table tbody tr td .article-sizes {
    justify-content: space-evenly;
}



h3 {
    margin: 0px;
}