.login-body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    opacity: 0.2;
    z-index: 1;
    background-image: url(../images/fresque_rvb_couleur_repeat.svg);
    background-repeat: repeat;
    background-size: 2500px 375px;
}

.login-content {
    background-color: transparent !important;
    z-index: 0;
}

.login-content .login-box {
    width: 900px;
    max-width: 90%;
    margin: 10vh auto 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: -ms-grid;
    -ms-grid-columns: 1fr 2fr;
    display: grid;
    position: relative;
    grid-gap: 0px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar main";
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    z-index: 2;
}

.login-content .login-box .sidebar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: sidebar;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "sidebar-content"
        "sidebar-footer";
    background-color: var(--accent-color);
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

.login-content .login-box .sidebar .sidebar-footer .desktop-only .btn {
    font-size: 0.9em;
    color: var(--accent-color)
}

.login-content .login-box .main {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: main;
    color: #666666;
}

.login-content .login-box .main form {
    margin: 20px 15%;
    text-align: left;
}

.login-content .login-box .main form h1 {
    text-align: center;
    color: var(--accent-color);
}

.login-content .login-box .main form input[type="text"], .login-content .login-box .main form input[type="password"] {
    margin-bottom: 20px;
}

.login-content .login-box .main form .btn {
    margin: 0 auto;
    display: inherit;
    width: fit-content;
}

.login-content .login-box .main form p {
    color: var(--accent-color);
    text-align: center;
}

input {
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.warning-message {
    background: #f2dede;
    border: 2px solid #a94442;
    color: #a94442;
    z-index: 10000;
    position: sticky;
    padding: 5px 20px;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    border-radius: 15px;
}

.warning-message p:first-child {
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 0px;
    border-radius: 20px;
}