:root {
    --main-bg-color: #f5f5f5;
    --main-color: #171e1e;
    --accent-color: #23b2a4;
    --accent-color-hover: #1e9c8f;
    /* Filières */
    --informatique: #00eaff;
    --market-comm: #f5822b;
    --crea-design: #83ff00;
    --audiovisuel: #ffdb2d;
    --architecture: #3ca55b;
    --tech-business: #003cff;
    --jeux-video: #b12bff;
    --illustration: #ff00ff;
    --sound-design: #E10719;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--main-bg-color);
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color)
}

main {
    margin: 50px auto;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

p.error-text {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-radius: 15px;
    background-color: #f2dede;
    color: #A94430;
}

.section-content {
    padding: 0 5%;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.title {
    padding: 0 1.3rem;
    font-size: 2.25rem;
    line-height: 1.3em;
    border-radius: .2rem;
    text-transform: uppercase;
    font-weight: 800;
    transform: rotate(-3deg);
    display: inline-block;
}

.title-black {
    background-color: var(--main-color);
    color: #fff;
    box-shadow: 0 5px 10px rgb(23 30 30 / 10%);
}

.title-white {
    background-color: #fff;
    color: #171e1e;
    box-shadow: 0 5px 10px rgb(23 30 30 / 10%);
}

.title:after {
    content: url(../images/icon-splash.svg);
    width: 1em;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(80%, -60%);
}

.title-white:after {
    filter: invert(1);
}

.btn {
    padding: 1rem 2rem;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.btn-primary {
    background-color: var(--accent-color);
    color: #fff !important;
}

.btn-secondary {
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.btn-black {
    background-color: var(--main-color);
    color: #fff !important;
}

.btn-white {
    background-color: #fff;
    color: var(--main-color);
}

.btn-primary:hover {
    background-color: var(--accent-color-hover);
}

.btn-black:hover {
    background-color: #0f1414;
}

.btn-white:hover {
    background-color: #e5e5e5;
}

.btn-secondary:hover {
    color: var(--accent-color-hover);
    border: 2px solid var(--accent-color-hover);
}

.link-more {
    display: flex;
}

.arrow-link { 
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5em;
    color: var(--accent-color) !important;
    margin-left:auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.arrow-link:hover {
    color: #1e9c8f;
}

.arrow-link:before {
    content: url(../images/arrow-cta.svg);
    margin-right: 14px;
    flex-shrink: 0;
    display: inline-block;
    transform: translateY(-10%);
    width: 1.5em;
    transition: all .3s;
}

.arrow-link:hover:before {
    transform: translate(4px, -2%) rotate(-10deg) !important;
}

/* ANIMATIONS */

@keyframes slideInTop {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 100;
        transform: translateY(0);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

/* NAVIGATION */

.nav, .nav-sticky {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav-sticky {
    position: fixed;
}

.nav .nav-item {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    margin-left: auto;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgb(23 30 30 / 10%);
    transition: all .3s ease-in-out;
}

.nav .nav-item:hover {
    background-color: #e5e5e5;
}

.nav .nav-logo {
    width: 105px;
    filter: brightness(1000%);
    z-index: 1000;
}

.nav .nav-item.nav-cart {
    margin-left: 15px;
    padding: 0.6em 0.6em;
}

.nav .nav-item.nav-cart img {
    width: 20px;
    height: 20px;
}

.nav .nav-item.nav-account img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 100%;
    background-color: var(--accent-color);
}

.nav .nav-account p {
    font-size: 0.8em;
    margin-left: 5px;
    font-weight: 500;
}

/* HERO home page */

#hero-home {
    clip-path: ellipse(82% 100% at 50% 0%);
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(../images/hero-home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 0px 5%;
}

#hero-home h1, #hero-page h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    margin-top: 8rem;
    animation: 1s ease-out 0s 1 slideInTop;
}

#hero-home p{
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1.5rem;
    animation: 1s ease-out 0s 1 opacity;
}

#hero-home .btn, #hero-page p {
    margin-bottom: 10rem;
    animation: 1s ease-out 0s 1 opacity;
}

.home-section {
    padding: 4% 5%;
}

/* HERO page */

#hero-page {
    clip-path: ellipse(82% 100% at 50% 0%);
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(../images/hero-home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 0px 5%;
}

/* ARTICLES section */

.no-one-found {
    text-align: center;
    margin: 0px auto;
}

.no-one-found a {
    color: var(--accent-color);
}

#articles-home .articles {
    margin: 2% 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#articles-home .articles .article-card {
    position: relative;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: .2rem;
    width: 25%;
    box-shadow: 0 5px 10px rgb(23 30 30 / 10%);
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1019px) {
    #articles-home .articles .article-card {
        width: 38%;
    }
}

@media screen and (max-width: 760px) {
    #articles-home .articles .article-card {
        width: 90%;
        margin-bottom: 5rem;
    }

    #articles-home .articles .article-card:last-child {
        margin-bottom: 1rem;
    }
}

#articles-home .articles .article-card h3 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0px 0.5rem 0px;
}

#articles-home .articles .article-card .filiere {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0px 0.5rem 0px;
}

#articles-home .articles .article-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .2rem;
}

#articles-home .articles .article-card .article-desc {
    color: #49505c;
}

.article-sizes {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--accent-color);
    font-weight: 600;
}

.article-sizes p {
    margin: 0px;
    text-transform: uppercase;
}

.article-sizes .out-stock {
    color: #ec4363;
}

#articles-home .btn {
    text-align: center;
    margin: 0px auto;
    display: flex;
    width: fit-content;
}

/* FILIERES section */

#filieres-home {
    background-color: var(--main-color);
    color: #fff;
}

#filieres-home .filiere-grid {
    display: grid;
	grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
	text-align: center;
    margin-bottom: 25px;
}

#filieres-home .filiere-grid .filiere-grid-item {
    padding: 16px;
    margin: 5px;
    border-radius: 50px;
}

#filieres-home .filiere-grid .filiere-grid-item h3 {
    margin: 0px;
}

/* ARTICLE section */

.article-container {
    max-width: 1008px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-container .article-col {
    padding: 0 12px;
}

.col-50 {
    width: calc(50% - (12px * 2));
}   

.article-container .article-col img {
    max-width: 100%;
    width: 480px;
    height: 480px;
    border-radius: 25px;
    object-fit: cover;
}

.article-container .article-col h2, .article-container .article-col h3 {
    margin-bottom: 5px;
}

.article-container .article-col p, .article-container .article-col ul {
    margin-top: 5px;
}

.article-container .article-col .add-to-cart-form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1rem;
}

.article-container .article-col .add-to-cart-form select {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    font-size: 1.1rem;
}

.article-container .article-col .add-to-cart-form select:focus, .article-container .article-col .add-to-cart-form select:focus-visible {
    outline: none;
}

/* PROFILE section */

.profile-row {
    max-width: 1008px;
    margin: 0 auto;
    display: flex;
}

.profile-row .profile-col {
    padding: 0 12px;
}

.col-25 {
    width: 25%;
}

.col-75 {
    width: 75%;
}

.profile-row .profile-col h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

.profile-row .profile-col .container {
    padding: 0px;
    margin-top: 32px;
    border-radius: 12px;
    box-shadow: rgb(191 191 191 / 50%) 0px 2px 8px 0px;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.profile-row .profile-col .container .menu-list {
    background-color: #fff;
    margin: 0px;
    padding: 0;
}

.profile-row .profile-col .container .menu-list.middle {
    margin: 20px 0px;
}

.profile-row .profile-col .container .menu-list li {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.profile-row .profile-col .container .menu-list li a {
    transition: all 0.2s ease 0s;
    padding: 4px 8px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    flex: 1 1 0%;
    border-bottom: 1px solid #e5e5e5;
}

.profile-row .profile-col .container .menu-list li a.active {
    background-image: linear-gradient(to right, var(--accent-color) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-position: calc(100% + 4px) 0px;
    background-size: 200%;
    color: var(--accent-color);
}

.profile-row .profile-col .container .menu-list li a div {
    display: flex;
    font-weight: 600;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    padding: 8px;
}

.profile-row .profile-col .container .menu-list li a div:hover {
    background-color: #f5f5f5;
    color: var(--accent-color);
}

.profile-row .profile-col .profile-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem;
    flex-wrap: wrap;
}

.profile-row .profile-col .profile-cta a {
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 25%;
    background-color: white;
    box-shadow: 0 5px 10px rgb(23 30 30 / 10%);
    margin-bottom: 1.5rem;
}

.profile-row .profile-col .profile-infos {
    display:flex;
    margin-bottom: 40px;
}

.profile-row .profile-col .profile-infos .profile-zone-pic {
    width: 35%;
}

.profile-row .profile-col .profile-infos .profile-zone-infos {
    width: 55%;
    padding: 0px 5%;
}

.profile-row .profile-col .profile-infos .profile-zone-pic .profile-picture {
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    background-color: var(--accent-color);
    border-radius: 25px;
}

.profile-row .profile-col .profile-infos .profile-zone-infos h3 {
    margin: 0px;
}

.profile-row .profile-col .profile-infos .profile-zone-infos input {
    margin-bottom: 20px;
}


.profile-row .profile-col .payment-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem;
    border-bottom: 1px solid #e5e5e5;
    flex-wrap: wrap;
}

.profile-row .profile-col .ycoins-card {
    text-align: center;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 25%;
    background-color: white;
    box-shadow: 0 5px 10px rgb(23 30 30 / 10%);
    margin-bottom: 1.5rem;
}

.profile-row .profile-col .commands-area {
}

.profile-row .profile-col .commands-area .command-overview {
    padding: 1.5rem;
    border-radius: 1rem;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 10px rgb(23 30 30 / 10%);
    margin-bottom: 1.5rem;
}

/* CART section */

.cart-container {
    max-width: 1008px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cart-container .cart-content {
    width: 60%;
}

.cart-container .cart-content .cart-article {
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.cart-container .cart-content .cart-article img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.cart-container .cart-content .cart-article div {
    width: 100%;
}

.cart-container .cart-content .cart-article div h3 {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0px;
}

.cart-container .cart-content .cart-article div p {
    margin: 0px;
}

.cart-container .cart-content .cart-article div p.price {
    margin-top: 35px;
}

.cart-container .cart-content .cart-article form input {
    margin-left: auto;
    display: table;
    margin-top: 5px;
    color: var(--accent-color);
    background: none;
    border: none;
    font-size: 0.9rem;
    font-family: Montserrat;
    font-weight: 500;
    padding: 0px;
    margin-right: 10px;
    cursor: pointer;
}

.cart-container .cart-content .cart-article form input:hover {
    text-decoration: underline;
}

.cart-container .cart-summary {
    width: 40%;
}

.cart-container .cart-summary .remaining-coins {
    text-align: center;
    margin: 0px;
}

.cart-container .cart-summary .coins-zone {
    margin-bottom: 10px;
}

.cart-container .cart-summary .coins-zone p {
    margin: 0px;
    text-align: center;
}

.cart-container .cart-summary a {
    color: var(--accent-color);
    font-weight: 700;
    text-align: center;
    margin: 10px auto;
    display: block;
}

footer p {
    text-align: center;
}